.mealDetails {
    width: 90%;
    margin: 1.9rem auto;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    align-items: start;
}

.meal-img {
    width: 35%; 
    max-width:250px;
    max-height: 250px;

}

.DataSide {
    margin: 25px 0;
}

.meal-name {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
    margin: 20px 0 0;
}
  
.meal-price, .meal-category{
    color: var(--black);
    padding: 3px;
    border-radius: 50px;
    font-size: 23px;
    margin: 20px 0 0;
}

.meal-description {
    color: var(--black);
    padding: 3px;
    border-radius: 50px;
    font-size: 23px; 
    margin: 20px 0 0;
}

.Add {
    width: 138px;
    height: 50px;
    background: var(--main) 0% 0% padding-box;
    border-radius: 45px;
    border: none;
    color: var(--white);
    padding: 10px;
    font-weight: 900;
    margin: 0.2rem;
  }
  
.Add:hover {
    background-color: var(--white);
    border: 2px solid var(--main);
    color: var(--main);
    font-weight: 700;
  }
  