.header {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: auto auto;
}

.main-text {
  width: 63%;
}

.main-text p {
  font-weight: bold;
  color: black;
  font-size: 2.1rem;
  line-height: 1.6;
  text-align: left;
}

.main-text .text {
  margin-top: 50px;
}
.main-text p > span {
  color: var(--main);
}

.main-text .desc-service {
  color: var(--main);
  font-size: 0.7rem;
}

.main-img .img {
  width: 100%;
  max-width: 100%;
}
